*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.image-card{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.image-card img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.button-area{
    display: flex;
    gap: 30px;
}

.button-area button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

.dog{
    background-color: crimson;
    font-weight: 700;
    color: white ;
}

.cat{
    background-color: cadetblue;
    font-weight: 700;
    color: white;
}

.bird{
    background-color: darksalmon;
    color: white;
    font-weight: 700;
}