* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.task-input {
  display: flex;
  gap: 30px;
}

input {
  height: 50px;
  width: 300px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

.task {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}

.task-h1 {
  color: white;
  font-size: 25px;
}

.delete {
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: #FF5656;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
